body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
}

a {
  color: #11999e;
  font-family: "Poppins", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

p {
  color: #363636;
  line-height: 2;
}

hr {
  border: #84a9ac dotted 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
.top-container {
  background-color: #e4f9ff;
  padding-top: 90px;
  position: relative;
}
.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile-img {
  width: 20%;
}

.ai-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.android-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.webd-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  padding-bottom: 10px;
  margin: 10px auto 10px auto;
}

.software {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 220px;
  top: 50px;
  width: 15%;
}

.bottom-cloud {
  position: absolute;
  left: 220px;
  bottom: 450px;
  width: 15%;
}

.mountains {
  width: 50%;
  margin-top: 10px;
}
.mountains:hover {
  transition: all 2s ease-in-out;
}

.intro {
  width: 35%;
  margin: auto;
}

.contact-message {
  width: 45%;
  margin: 40px auto 50px;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.8rem;
    padding: 20px 0;
}

.btn {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #45c7bc),
    color-stop(1, #2c49bd)
  );
  background: -moz-linear-gradient(center top, #45c7bc 5%, #2c49bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45c7bc', endColorstr='#2c49bd');
  background-color: #45c7bc;
  -webkit-border-top-left-radius: 42px;
  -moz-border-radius-topleft: 42px;
  border-top-left-radius: 42px;
  -webkit-border-top-right-radius: 42px;
  -moz-border-radius-topright: 42px;
  border-top-right-radius: 42px;
  -webkit-border-bottom-right-radius: 42px;
  -moz-border-radius-bottomright: 42px;
  border-bottom-right-radius: 42px;
  -webkit-border-bottom-left-radius: 42px;
  -moz-border-radius-bottomleft: 42px;
  border-bottom-left-radius: 42px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
  /* font-weight:bold; */
  font-style: normal;
  height: 48px;
  line-height: 48px;
  width: 165px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #562866;
}
.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #2c49bd),
    color-stop(1, #45c7bc)
  );
  background: -moz-linear-gradient(center top, #2c49bd 5%, #45c7bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c49bd', endColorstr='#45c7bc');
  background-color: #2c49bd;
}
.btn:active {
  position: relative;
  top: 1px;
}

.sideNavButton{
  font-size:2rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #204051;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNav a {
  padding: 8px 32px 8px 8px;
  margin: 0 0 0 32px;
  text-decoration: none;
  font-size: 25px;
  color: #11999e;
  display: block;
  transition: 0.3s;
  float: left;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}
